@use "variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  min-width: 0;
  border-radius: 0;
  background: none;
  border: none;
  padding: 0;
}

button {
  cursor: pointer;
}

body {
  @include fontDefault();

  margin: 0;
  min-height: calc(var(--vh, 1vh) * 100);
  background-color: $colorBg !important;
  color: $colorContent !important;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

.r-double {
  height: $spacingDouble;
}

.r {
  height: $spacing;
}

.r-two-thirds {
  height: $spacingTwoThirds;
}

.r-half {
  height: $spacingHalf;
}

.r-third {
  height: $spacingThird;
}

.r-quarter {
  height: $spacingQuarter;
}

.gap-double {
  height: $spacingDouble;
}

.gap {
  height: $spacing;
}

.gap-two-thirds {
  height: $spacingTwoThirds;
}

.gap-half {
  height: $spacingHalf;
}

.gap-third {
  height: $spacingThird;
}

.gap-quarter {
  height: $spacingQuarter;
}

.rel {
  position: relative;
}

.no-overflow {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.flex {
  display: flex;
}

.flex--wrap {
  flex-wrap: wrap;
}

.flex--column {
  flex-direction: column;
}

.flex--justify-start {
  justify-content: flex-start;
}

.flex--align-start {
  justify-content: flex-end;
}

.flex--justify-center {
  justify-content: center;
}

.flex--justify-space-between {
  justify-content: space-between;
}

.flex--justify-space-evenly {
  justify-content: space-evenly;
}

.flex--align-start {
  align-items: flex-start;
}

.flex--align-end {
  align-items: flex-end;
}

.flex--align-center {
  align-items: center;
}

.flex--align-stretch {
  align-items: stretch;
}

.content {
  max-width: $contentWidth;
  margin: 0 auto;

  &--slim {
    max-width: $contentWidthSlim;
  }
}

.full {
  width: 100%;
}

img.lazyload:not([src]) {
  visibility: hidden;
}
